---
layout: base.njk
---

<article class="article">
  <header class="article-header container container-narrow">
    <h1 class="article-title">{{ title }}</h1>
    <div class="article-meta">
      <time datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
      {%- if tags -%}
        <span>·</span>
        <span>
          {%- for tag in tags -%}
            {%- if tag != 'post' -%}
            <span class="tag">{{ tag }}</span>
            {%- endif -%}
          {%- endfor -%}
        </span>
      {%- endif -%}
    </div>
  </header>
  
  <div class="article-content container container-narrow">
    {{ content | safe }}
  </div>
  
  <footer class="article-footer container container-narrow">
    <p class="article-footer-text">
      Thanks for reading. Want to discuss this post? 
      <a href="https://twitter.com/MenilVukovic" target="_blank" rel="noopener">Find me on Twitter</a> or
      <a href="mailto:hello@menilvukovic.com">send me an email</a>.
    </p>
  </footer>
</article>
